# API Kinvent
KINVENT_USERNAME=votre_email@example.com
KINVENT_PASSWORD=votre_mot_de_passe
KINVENT_API_URL=https://api.k-invent.com

# Base de donnees MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=votre_mot_de_passe_mysql
MYSQL_DATABASE=projet_lbc
